.disp{
    @apply place-content-center bg-red-600 px-10 py-5  h-64 rounded relative; flex: 0.5;
}

.mini-disp{
    @apply place-content-center  bg-red-600 px-10 py-5  h-full rounded relative; flex: 0.5;
}

.dispG{
    @apply place-content-center bg-green-500 px-2 py-2  rounded relative ; display: flex;
}

.pok-W{
    @apply container items-center mx-auto px-4 py-3 relative justify-center; display: flex;
}
.pok-WW{
    @apply container mx-auto px-4 py-4 justify-center; flex:0.5;
}; 