.disp {
    @apply place-content-center border-2 border-gray-800 bg-red-600 px-10 py-5 rounded relative drop-shadow-lg h-96;
    flex: 0.5;
}

.mini-disp {
    @apply place-content-center border-2 border-gray-800 bg-red-600 px-10 py-5  rounded relative drop-shadow-lg h-96;
    flex: 0.5;
    flex-grow: 1;
}

.dispG {
    @apply place-content-center bg-gray-950  rounded relative;
    display: flex;
}

.dispD {
    @apply place-content-center bg-gray-950  rounded relative;
    display: flex;
    flex-grow: 1;
}

.pok-W {
    @apply container items-center mx-auto relative p-4;
    display: flex;
    height: 100%;
    width: 50%;
}
.pok-WW {
    @apply container mx-auto h-96;
    flex-grow: 1;
}

.title {
    @apply font-sans text-2xl font-bold text-white;
}

.search {
    @apply px-2 py-2;
}

.gridCss{
    @apply grid grid-cols-3
}
