.disp{
    @apply place-content-center bg-red-400 px-10 py-5  h-full rounded relative; flex: 0.5;
}

.mini-disp{
    @apply place-content-center  bg-red-400 px-10 py-5  h-full rounded relative; flex: 0.5;
}

.dispG{
    @apply  bg-green-300 px-5 py-5 h-1/2  rounded relative ; display: flex;
}

.pok-W{
    @apply container items-center mx-auto px-4 pt-10 relative justify-center; display: flex;
}
.pok-WW{
    @apply container mx-auto px-4 pt-10 justify-center; flex:0.5;
}; 